body {
    background-color:rgb(175, 231, 250);
    display: grid;
    grid-template-columns: 50% 50%;
}

.grocery {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333; 
    align-items: center;
    width: 50%;
    margin: auto;
    text-align: center;
}

.grocery h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.grocery ul {
    list-style-type:circle;
    text-align: left;
}

.math {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 19px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    align-items: center;
    width: 50%;
    margin: auto;
    text-align: center;
}

.math h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.math ul {
    list-style-type:circle;
    text-align: left;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

input {
    width: 35%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}